# Project exclude paths
/target/
.idea
src/main/resources/belgrade_near_nodes.csv/
src/main/resources/skopje_near_nodes.csv/
data/
src/main/resources/belgrade_near_edges.csv/
src/main/resources/skopje_near_edges.csv/